@model BancoExt.Models.TransacaoModel
@{
    ViewBag.Title = "Cadastro Transacao";
}


<h2>Novo Cadastro de Transacoes</h2>





<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cadastrar Conta</h5>
                </div>
                <div class="ibox-content">
@using (Html.BeginForm("ExecutTransacao", "Transacao"))
{


    <div class="form-group">
        <label for='clienteid' class="control-label">Titular da conta - Nome do Cliente</label>
        @Html.DropDownList("clienteid", null, "Selecione o titular da Conta", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for='contaid' class="control-label">Conta</label>
        @Html.DropDownList("contaid", null, "Selecione o numero da conta", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for='tipotransacaoid' class="control-label">Tipo Transacao</label>
        @Html.DropDownList("tipotransacaoid", null, "Selecione o tipo de transacao", new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(obj => obj.valor)
        @Html.TextBoxFor(obj => obj.valor, new { @class = "form-control" })

    </div>




    <div>
        <input type="submit" value="Salvar" class="btn btn-warning btn-lg" />

    </div>
    <div>
        <h2>@ViewBag.msg</h2>
    </div>
}

                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/JS/ExecutTransacao.js"></script>